#header{
	width: 100vw;
	height: 75px;
	border: solid 0px black;
	background-color: #9d9ad9;
	z-index: 1000;
}
body{
	margin: 0px;
}
#logo{
	font-size: 40px;
	position: fixed;
	left: 10px;
	top: 10px;
	font-family: 'Anybody', cursive;
	color: #E4F0FF;
}


/*log in and sign up section*/
#l_S_container{
	display: flex;
	border: solid 0px black;
	width: 220px;
	height: 75px;
	position: fixed;
	right: 15px;
	align-items: center;
	justify-content: space-around;

}
#login{
	width: 90px;
	display: flex;
	height: 40px;
	border: solid 1.5px #E4F0FF;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
	font-family: 'Anybody', cursive;
	color: #E4F0FF;
	text-decoration: none;
	font-size: 15px;

}
#sign_up{
	width: 90px;
	display: flex;
	height: 40px;
	border: solid 1.5px #E4F0FF;
	border-radius: 20px;
	background-color: #E4F0FF;
	align-items: center;
	justify-content: center;
	font-family: 'Anybody', cursive;
	color: #9d9ad9;
	text-decoration: none;
	font-size: 15px;


}
#login:hover{
	background-color: #E4F0FF;
	color: #6b9ad9;
}
#sign_up:hover{
	background-color: #E4F0FF;
	color: #6b9ad9;
}
#logo_img{
	position: fixed;
	width: 100px;
	height: auto;
	left: 22px;
	top: 7px;
}
#nav{
	width: 200px;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 190px;
	border: solid 0px black;
}
#calculator{
	width: 90px;
	display: flex;
	height: 40px;
	border: solid 0px #E4F0FF;
	align-items: center;
	justify-content: center;
	font-family: 'Anybody', cursive;
	color: #E4F0FF;
	text-decoration: none;
	font-size: 15px;
	border-radius: 20px;

}
#Betting{
	width: 90px;
	display: flex;
	height: 40px;
	border: solid 0px #9d9ad9;
	align-items: center;
	justify-content: center;
	font-family: 'Anybody', cursive;
	color: #E4F0FF;
	text-decoration: none;
	font-size: 15px;
	border-radius: 20px;

}
#divider{
	height: 73px;
	width: 0px;
	border: solid 1px #E4F0FF;
	position: fixed;
	left: 185px;
}
#calculator:hover{
	color: #D2E6FF;
}
#Betting:hover{
	color: #D2E6FF;
}


#mainArea{
	background-color: #E4F0FF;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 75px;
}





/*slide down menue*/
#dropdwn{
	width: 120px;
	height: 100px;
	background-color: #9d9ad9;
	position: fixed;
	display: flex;
	top: 83px;
	left: 192px;
	display: none;
	z-index: 100;
	border-radius: 7px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}